.footer{
    background-color: #F0F8FF;
    bottom: 0;
    padding:5px 15px;
    display: flex;
    justify-content: space-around;
    p{
        text-align: justify;
    }
    
}

.fa-facebook{
    background-color: blue;
    padding:10px 15px ;
    border-radius: 28px;
    color:white;
    
}
.fa-twitter{
    background-color: #84bde0;
    padding:10px;
    border-radius: 28px;
    color:white;
    
}

.fa{
    // border: 1px solid red;
    margin-right:15px;
    font-size: 25px;
    
}
.follow-img{
    height: 50px;
    width: 50px;
}
