
$link-color:#B20058;
header{
    border:1px solid black;
    margin-bottom: 3px;
    top:0; 
}
ul.header-list-style{
    list-style-type: none;
    padding-right: 5%;
    li.list{
        font-weight: bold;
        margin: 10px 15px;
        padding:5px;
        float: left;
        &:hover{
            background-color: $link-color;
            a{
                color: white;
            }
        }
    }   
}
.links{
    text-decoration: none;
    color:$link-color;;
    
}
.navigation{
    position:-webkit-sticky;
    position:sticky;
    top:0px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding:5px;
  
}