$brand-color1:#B20058;
$brand-color2:#3454b5;
$link-color:#B20058;
$primary-background:#1A2F4E;
$primary-color:#ffffff;
$content-background:#ffffff;
$content-padding:10px;

.home{
    color:$primary-color;
    
}

img{
    height:100px;
    width: 120px;
    border:2px solid white;
    border-radius: 12px;
    margin:5px;
    
}
.lang-images{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:30px 10px;
    background-color: $primary-background;
}
h4{
    text-align: center;
    font-weight: bold;
    margin: 10px;
}
.stream-box{
    background-color: $primary-background;
    text-align: center;
    border: 2px solid white;
    border-radius: 12px;
    padding:15px;
    margin-top: 5px;
    
 }
