$primary-background:#1A2F4E;
.top-header-bar{
    color:white;
    font-size: 12px;
    font-weight: bold;
    background-color: $primary-background;
    
    
    ul{
        list-style-type: none;
        display:flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 0;
        li{
            margin: 5px;
            border: 2px solid #1A2F4E;
            border-radius: 8px;
            padding:2px;
            &:hover{
                box-sizing: border-box;
                border-color: white;
                
                
            }
        }
    }
}