$brand-color1:#B20058;
$brand-color2:#3454b5;
$link-color:#B20058;
$primary-background:#1A2F4E;
$primary-color:#ffffff;
$content-background:#ffffff;
$content-padding:10px;
$body-font:'sans-sarif','helvetica','verdana';
$body-font-Size:1em;

.App{
    font-family:$body-font;
    font-size:$body-font-Size;
    .content{
        color:$primary-color;
        min-height: 568px;
    }
}
#brand-1{
    color:$brand-color1;
    #brand-2{
        color:$brand-color2;
    }
}
.heading{
    font-weight: bold;
    font-size: 18px;
}


.small{
    font-size: 12px;
    color:lighten(black,40%);
}
