$brand-color1:#B20058;
$brand-color2:#3454b5;
$link-color:#B20058;
$app-background:#40144a;
$content-background:#ffffff;
$content-padding:10px;
$body-font:'verdana','helvetica','sans-sarif';
$body-font-Size:16px;

.App{
    font-family:$body-font;
    font-size:$body-font-Size;
    padding:10px;
    background-color: $app-background;
    .content{
        // background-color: $content-background;
        padding:$content-padding;
        color:white;
        min-height: 1000px;
    }
}
#brand-1{
    color:$brand-color1;
    #brand-2{
        color:$brand-color2;
    }
}
header{
    border:1px solid black;
    margin-bottom: 3px;
    top:0; 
}
img{
    height:160px;
    width: 200px;
    border:2px solid white;
    border-radius: 12px;
    margin:5px;
    
}
.lang-images{
    display:flex;
    justify-content: space-around;
    padding:10px;
}
h2{
    text-align: center;
}
.jumbotron{
    background-color: $app-background;
   text-align: center;
   border: 2px solid white;
   border-radius: 12px;
   padding:10px;
}
.footer{
    background-color: #F0F8FF;
}
.small{
    font-size: 12px;
    color:lighten(black,40%);
}